* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: 'JetBrains Mono', monospace;
}

body {
  padding: 1rem;
}

h1 {
  font-family: 'Exo 2', sans-serif;
}

p,
label {
  margin-top: 1rem;
}

form {
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid #ed7014;
  border-radius: 6px;
}

.questionContainer {
  margin: 1rem;
}

button {
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: #ed7014;
}

button:hover {
  cursor: pointer;
  background-color: #b2510c;
}

button:focus {
  background-color: #5d2b06;
}

#language-quiz-result-container {
  display: none;
  border: 1px solid orange;
  min-width: 100px;
  min-height: 100px;
}
