* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  /* border: 1px solid red; */
}

body {
  padding: 0.5rem;
}

.questionContainer {
  margin: 1rem;
  padding: 1rem;
}

#language-quiz-result-container {
  display: none;
  border: 1px solid orange;
  min-width: 100px;
  min-height: 100px;
}
