* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

body {
  padding: 1rem;
}

main {
  margin: 0 auto;
  max-width: 660px;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}

p,
label {
  max-width: 80ch;
  font-size: 1.2rem;
}

form,
#language-quiz-result-container {
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid #ed7014;
  border-radius: 6px;
}

.questionContainer {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #333;
  border-radius: 6px;
}

button {
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: #ed7014;
  border: none;
  border-radius: 6px;
}

button:hover {
  cursor: pointer;
  background-color: #b2510c;
}

button:active {
  background-color: #5d2b06;
}

#language-quiz-result-container {
  display: none;
  border: 1px solid orange;
  min-width: 100px;
  min-height: 100px;
}
